body {
  background-color: #000d3c; /* Dark background */
  color: #FFFFFF; /* Light text color for contrast */
  font-family: none; /* TBD for now :P */
}
/* For all links */
a {
  text-decoration: none; /* Removes the underline */
  color: none; /* Inherits color from parent element */
}

/* For visited links */
a:visited {
  text-decoration: none;
  color: #FFFFFF; /* Set to the same color as unvisited links */
}

/* For hover state */
a:hover {
  text-decoration: none;
  color: blue; /* Change this to your desired hover color */
}

/* For active state */
a:active {
  text-decoration: none;
  color: #FFFFFF; /* Change this to your desired active color */
}
.top-bar {
  background-color: #4b9cd3; /* Dark top bar */
  padding: 20px;
  display: flex;
  justify-content: center;
}

.top-bar-tab1, .top-bar-tab2, .top-bar-tab3, .top-bar-tab4, .top-bar-tab5, .top-bar-tab6, {
  background-color: #4b9cd3; /* Dark top bar */
  width: 100px;
  height: 100px;
  display: inline-block; /* Allow for inline elements to behave like block elements */
  margin: 50px; /* Add some spacing between tabs */
}
.slider-container {
  width: 100%;
  max-width: 800px; /* Adjust this if you want */
  margin: auto;
  overflow: hidden;
}

.slider {
  display: flex;
  transition: transform 0.5s ease;
}

.slide {
  flex: 0 0 100%;
  text-align: center;
}
.slide img {
  width: 100%;
  height: 400px;
  object-fit: cover; /* crops to fill */
  display: block;
}

.slide.active {
  display: block; /* Only show the active slide */
  width: 600px;
  border-radius: 8px;
  height: 600px;
}

.controls {
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
}

.controls button {
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    color: white;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 18px;
    border-radius: 4px;
}

.controls button:hover {
    background-color: rgba(0, 0, 0, 0.8);
}
.top-bar-tab-logo img {
    width: 100%;
    height: 250px;
    size: 300px;
    display: inline-block;
}
