body {
  background-color: #4b9cd3; /* Dark background */
  color: #FFFFFF; /* Light text color for contrast */
  font-family: 'Patrick Hand', Patrick Hand, cursive;
}
a {
  text-decoration: none;
  color: #FFFFFF;
}
.top-bar {
  background-color: #000d3c; /* Dark top bar */
  padding: 10px;
  display: flex;
  justify-content: center;
}
.event-card {
  background-color: #000000; /* Dark top bar */
  padding: 10px;
  margin: 0 10px; /* Add some spacing between tabs */
}

.back-arrow img {
  width: 10px
}

.back-arrow img:hover {
  transform: scale(1.1)
}
